*, html, body {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 24px;

}

.header {
    /* background: rgb(0, 236, 75); */

}
.navbar {
    width: 100%;
    background: #35444F;

}
#logo span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

}

#logo a {
       text-decoration: none; 
}
.menu, .footer__menu {
    display: flex;
    justify-content: center;
}
.menu > li {


}
.header .menu li a, .aside .aside__menu li a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;


  }
.header .menu li a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;  
}

.menu-link{
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid white;
    color: white;
    padding: 20px 40px;
    background: #35444F;
    font-family: 'Roboto', sans-serif;

}
.menu-link:hover{
background-color: #222F3A;

}
.menu li a:first-child{
    border-left: 1px solid white; 
}


.main {
    /* background: rgb(63, 105, 105); */
}
.main >.container {
    display: flex;
}
.left-column {
    width: 30%;
    margin-right: 3%;
}
.right-column {
    width: 67%;
}
.aside {
    width: 100%;
}

.aside__menu {
    border: 1px solid lightgray;
}

.aside__menu li {
    padding: 20px;  
}

.aside_link {
    width: 100%;
    padding: 20px;    
}
.aside .aside__menu li a  {
    color: #495863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}
.aside__menu li:hover {
    padding-left: 40px;
    background: #DBDBDB;
    
}

.aside__menu li:hover > a {
color: black;
}
.aside ul li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;

}

.main-image {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    border: 1px solid lightgray;
    
}
.main-image img {
    display: block;
    background-repeat: no-repeat;
    width: 320px;
    height: 380px;
    
}


.main-image img:hover{
    scale: 1.1;
    transition: 0.3 s ease-in-out;
}

/* .main-image img:hover{
    transform:scale (1.1)
    
} */


.right-column p { 
    margin-bottom: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    /* background: rgb(166, 0, 144); */
}
.footer > .container {
    background: #a5a9ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;
}


.footer_item {
    display: inline-block;
    text-decoration: none;
    color: #0C1927;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.footer_item:hover {
    color:aqua;
    text-underline-offset: 1px solid aqua;


}
.footer .col-2 span p {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

}
